body {
    font-family: Arial, sans-serif;
    background-image: url(https://media.istockphoto.com/id/1203195982/vector/relocation-service-relocating-people-moving-company-isometric-icons.jpg?s=2048x2048&w=is&k=20&c=1Gvv4b0LmEFNQZhqkd7aD6CwGwbY4ceStkCE2nJGcG4=);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* center thi upar lai gyo */

    min-height: 100vh; /* full screen at least */
    padding: 50px 0; /* top-bottom space */
    margin: 0;
}


.signup-card {
    background: #ffffff;
    width: 380px;
    padding: 35px 40px;
    border-radius: 14px;
    /*box-shadow: 0 10px 25px rgba(0, 85, 255, 0.25);*/ /* Blue shadow */
    /*border-top: 4px solid #0066ff;*/ /* Blue top border */
}

.title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 25px;
    font-weight: bold;
    color: #0047b3; /* Deep blue text */
}

.input-row {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
    margin-bottom: 20px;
    border-bottom: 1px solid #7aa7ff; /* Light blue underline */
    transition: 0.3s;
}

    .input-row:focus-within {
        border-bottom: 2px solid #0066ff; /* Strong blue underline on focus */
    }

.input-icon {
    width: 26px;
    height: 26px;
    margin-right: 10px;
    filter: hue-rotate(200deg); /* Makes icons blue-ish */
}

.textbox {
    flex: 1;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 6px 2px;
    background: transparent;
    color: #003c99;
}

    .textbox::placeholder {
        color: #6e8cd7; /* bluish placeholder */
    }

.signup-btn {
    width: 100%;
    background: #0066ff;
    padding: 13px;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.25s;
}

    .signup-btn:hover {
        background: #0047cc; /* Dark blue hover */
    }

/*----------------------*/

.role-tabs {
    width: 320px;
    height: 48px;
    background: #E7EDFF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    margin: 0 auto 20px auto;
    box-shadow: 0 3px 8px rgba(0,0,0,0.08);
}

    .role-tabs .tab {
        flex: 1;
        height: 40px;
        border: none;
        background: transparent;
        border-radius: 50px;
        font-size: 16px;
        font-weight: 600;
        color: #4A79FF;
        cursor: pointer;
        transition: 0.25s ease;
    }

        .role-tabs .tab.active {
            background: #4A79FF;
            color: white;
            box-shadow: 0 2px 6px rgba(0,0,0,0.15);
        }

        .role-tabs .tab:hover {
            opacity: 0.85;
        }
